<!doctype html>
<html lang="en, pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- scripts -->
    <script defer type="text/javascript" th:src="@{/scripts/contentList.js}"></script>

    <!-- css -->
    <link th:href="@{/css/homepage.css}" rel="stylesheet" >

    <title>Homepage :3</title>
</head>
<body>
    <header>
        <div class="left">
            <div class="page-content-list">
                <div class="page-content-bar">
                    <label class="style-bar" for="content-cb">Sections</label>
                    <h2>+</h2>
                    <input class="style-bar" type="checkbox" name="page-content-list-checkbox" id="content-cb">
                </div>
                <div class="page-content">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <p>1</p>
        </div>
    </header>

    <section class="about-me">
        <h2>124afzdg</h2>
    </section>

    <section class="interests">
        <h2>124312125afzdg</h2>
    </section>

    <section class="favourite-languages">

    </section>

    <section class="future-plans">

    </section>

    <footer class="footer">

    </footer>
</body>
</html>